.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  height: 100px;
}

.projectTitle {
  font-size: 1.5rem;
  color: white;
  align-content: baseline;
  align-self: flex-end;
}

.middleSection {
  display: flex;
  gap: 70px;  /* Increased gap for more space between links */
  align-content: baseline;
  align-self: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;  /* Padding to add more clickable space */
}

.navLink:hover {
  text-decoration: underline;
}

.rightSection {
  display: flex;
  align-items: center;
}

.btnPrimary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

.btnPrimary:hover {
  background-color: #0056b3;
}
